<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1" style="margin: auto">Chi tiet sach</span>
  </div>
</nav>

<div class="container" style="width: 500px">
  <div class="row">
    <div class="col-md-9">
      <p>Chi tiet sach</p>
    </div>

    <div class="col-md-3">
      <p><button routerLink="">Xem danh sach</button></p>
    </div>
  </div>
</div>

<div style="width: 500px; margin: auto">
  <p>Ten sach: {{book.title}}</p>
  <p>Tac gia: {{book.author}}</p>
  <p>Mo ta: </p>
  <p>{{book.description}}</p>
</div>
